VITE_BACKEND_BASE_URL=https://fairplay.rktclgh.site
VITE_FRONTEND_BASE_URL=https://fairplay.rktclgh.site
VITE_CDN_BASE_URL=https://fairplay.rktclgh.site/uploads
VITE_ENABLE_NEW_PICKS=false
VITE_KAKAO_CLIENT_ID=change-me
VITE_KAKAO_MAP_ID=change-me
VITE_BUSINESS_SERVICE_KEY=change-me
