VITE_BACKEND_BASE_URL=http://192.168.123.103
VITE_FRONTEND_BASE_URL=http://192.168.123.103
VITE_CDN_BASE_URL=http://192.168.123.103/uploads
VITE_KAKAO_CLIENT_ID=change-me
VITE_KAKAO_MAP_ID=change-me
VITE_BUSINESS_SERVICE_KEY=change-me
